.container {
  display: flex;
  align-items: center;
}

.container > *:not(:last-child) {
  margin-right: 1rem;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background: #B9BDC6;
}

.name {
  color: #B9BDC6;
  font-weight: 600;
}

.dropdown {
  border: solid #B9BDC6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: translateY(-25%) rotate(45deg);
}